/*****************GLOBAL*****************/

body {
    background-color: #fffbf0;
}

.fullPage {
    min-height: 100vh;
}

.margin {
    margin-bottom: 5rem;
}

/*****************NAV*****************/

.navbar-toggler {
    border: none;
    outline-color: #343a40 !important;
}

.logo-louvre {
    padding-bottom: 0.3rem;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
}

.nav-link {
    color: white !important;
}

.activeLink {
    color: #80CBC4 !important;

}

.activeLocale {
    color: #80CBC4 !important;
}

.navSeparator {
    border-top: grey solid 1px;
}

@media screen and (min-width: 992px) {
    .navSeparator {
        border-top: 0px;
    }
}

/*****************TEXT*****************/

.max-width {
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
}

/*****************INFOS*****************/

.font400 {
    font-weight: 400;
}

.mb-6 {
    margin-bottom: 4.5rem;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:60%;
    position:relative;>
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (min-width: 992px) {
    .map-responsive {
        padding-bottom: 40%;
    }
}



/*****************FOOTER*****************/

.footer {
    margin-top: 3rem;
    height: 3.1rem;
    background-color: #343a40;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer > div {
    margin: auto;
}

.footer > div > span {
    color: white;
}

/*****************INDEX PRICING CARDS*****************/


.card-title {
    margin-top: -43px;
    background-color: white;
    line-height: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    border: #E7E4DB solid 1px;
    box-shadow: 0px 2px 5px 0px rgba(112,112,112,0.20);
}

.subTitle {
    font-size: 2.7rem;
}

.priceTitle {
    font-size: 2rem;
}


.tickets-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    min-width: 12rem;
    max-width: 14rem;
    margin: 1.8rem 1rem;
}

.card-header {
    color: white;
    font-weight: bold;
}

.card-child {
    background-color: #88d4a3;
}
.card-normal {
    background-color: #71c2ce;
}
.card-baby {
    background-color: #d66037;
}
.card-senior {
    background-color: #c8978e;
}
.card-reduc {
    background-color: #aea4c5;
}


.card-child ~ div > h5 {
    color: #88d4a3;
}
.card-normal ~ div > h5 {
    color: #71c2ce;
}
.card-baby ~ div > h5 {
    color: #d66037;
}
.card-senior ~ div > h5 {
    color: #c8978e;
}
.card-reduc ~ div > h5 {
    color: #aea4c5;
}


.card-price {
    font-size: 4.5rem;
}

.card-price-text {
    font-size: 3rem;
}

.box-shadow {
    box-shadow: 0px 5px 10px 1px rgba(112,112,112,0.20);
}



.pricing-switcher .fieldset-s {
    display: inline-block;
    position: relative;
    padding: 2px;
    border-radius: 50em;
    border: 1px solid #343a40;
    background-color: #343a40;

}

.pricing-switcher input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.pricing-switcher label {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    width: 130px;
    height: 30px;
    line-height: 35px;
    cursor: pointer;
    font-size: 1rem;
    color: #FFFFFF;

}

.pricing-switcher .switch {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 38px;
    width: 130px;
    background-color: #72bdb6;
    border-radius: 50em;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.pricing-switcher input[type="radio"]:checked + label + .switch,
.pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
    -webkit-transform: translateX(130px);
    -moz-transform: translateX(130px);
    -ms-transform: translateX(130px);
    -o-transform: translateX(130px);
    transform: translateX(130px);
}


.scene {
    perspective: 1000px;
}

.scene-card {

    transition: transform 0.5s ease-in-out;
    transform-style : preserve-3d;
}

.card-face {
    position: relative;
    backface-visibility: hidden !important;
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: -29px;
    left:0;
}

.is-flipped-f {
     transform: rotateY(0deg);
 }

.is-flipped-h {
    transform: rotateY(180deg);
}


/*****************TICKETING*****************/



.btn-louvre {
    border-width: 2px;
}

.subTicketing {
    font-size: 1.7rem;

}

.my-breadcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 1.1rem;
    padding: 0rem;
    display: flex;
    justify-content: center;
}

.my-breadcrumb li {
    margin: 1rem 2rem;
}


.table-headBorder {
    border-top-width: 0px !important;
}

.svgDiv, .navText {
    text-align: center;
}

.arrow {
    margin-top: -25px;
}

.navText {
    color: #343a40;
}

.grey {
    color: grey;
}




.stripe-button-el{
    float: right !important;
    background-image: none !important;
    background-color: transparent; !important;
    box-shadow: none !important;
    border: solid rgb(52, 58, 64) 2px !important;
    border-radius: 4.8px !important;
    width: 100px !important;
    height: 50px !important;

    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.stripe-button-el:hover {
    background-color: rgb(52, 58, 64) !important;
    color: white !important;
}


.stripe-button-el > span {
    background-image: none !important;
    background-color: transparent !important;
    color: rgb(52, 58, 64) !important;
    text-shadow: none !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    font-family: inherit !important;
    box-shadow: 0px 0px 0px 0px !important;
    transition: color .15s ease-in-out !important;
    margin-top: 7px !important;
    width: 94px !important;
    height: 44px !important;


}

.stripe-button-el > span:hover {
    color: white !important;
}

/*********404********/

.flexy {
    display: flex;
    justify-content: center;
    margin-top: -6rem;
}

.text404 {
    margin: auto;
}
