{% extends 'base.html.twig' %}

{% block title %}Bénéficiaires{% endblock %}

{% block content %}

    <section class="container">

        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}

    </section>

{% endblock %}
