{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block content %}

    <section class="container mb-5">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </section>


{% endblock %}
