{% extends 'base.html.twig' %}

{% block title %}Billetterie{% endblock %}

{% block content %}

<section class="container mb-5">

    <h1 class="h4  text-center mt-5 mb-4 ">Billetterie<br /><small class="text-muted d-md-none">Etape 4/5 : Paiement</small></h1>

    <nav class="d-none d-md-block mt-5">
        <ul class="my-breadcrumb">
            <li><a href="#">Réservation</a></li>
            <li><a href="#">Bénéficiaire</a></li>
            <li><a href="#">Résumé</a></li>
            <li><a href="#">Paiement</a></li>
            <li><a href="#">Confirmation</a></li>
        </ul>
    </nav>


</section>

{% endblock %}
